/* 
    Building Blocks

    selector { 
        [Declaration Block]
        property: value;

        3 ways to target:
        element, class, & id

*   Order of "Final Responce" from top priority to lowest priority
        - !important
        - Inline CSS
        - ID Selectors
        - Class Selectors
        - Element
*/

/* Creating a psodo-class, or a variable */
:root {
    --background: red;
}

nav {
    /*
    we are targeting the element
    */
    background-color: #d2d2d2;

    /* background-color: var(--background); */

    /*
    - preset colors: red, blue, yellow, etc.

    - rbg & rgba (red, green, blue, alpha)
        - alpha determines transparency\
        - ex: rgba(200,15, 100, .5)
    -Hexidecimal:
        - 16 digits: 0-9, A-F
        - ex: #d2d2d2
    */
    overflow: hidden;
}
    /* Tergeting a Class */

.btn {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*  IDs  */

#home {
    float: left;
    color: red !important;
    color: green !important;
    /*
    important will take on the "last call" for !important
    */
}

/*
    * Compound Operators:
        > Refers to direct children of an element
        , Matching selector
        + Immediate sibling of an element.
        ~ Subsequent sibling of an element.
*/

nav .btn {
    /*
    Points to the Nav and ANY calss within it, or children of, named "btn"
    */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

div.paragraph > p {
    /*
    targeting any div with a class "paragraph" that is holding a <p> elenment
     */
    color: red;

}

.paragraph + div {
    color: purple;
}


/* psudo-code examples below */
a:hover {
    color: lightblue;
    /*
    mousing over any anchor tag will alter its color
        -"home" doesn't change due to !important
    */
}

a:active {
    color:purple;
    text-shadow: 2px 2px 2px rgb(255,255,255);
    /* COPY A BLCOK OF CODE IN VSCODE:
        - ALT+SHIFT+DownArrow/UpArrow

    MOVE A BLOCK OF CODE:
        - ALT + Down/Up Arrow

        */
}